:root {
  --l: 50%;
  --a1: #2bcc46;
  --a2: #82c1df;
  --a3: #cf4848;

  --a1-d: #126821;
  --a2-d: #276683;
  --a3-d: #813636;

  --a1-l: #adffba;
  --a2-l: #aae4ff;
  --a3-l: #ffc7c7;


  --gray: #bebebe;
}


.text-gray {
  color: var(--gray);
}

p {
  line-height: 20px;
}

.btn_ {
  padding: 6px 8px !important;
  color: white !important;
  border-radius: 6px;
}

.btn_primary {
  @extend .btn_;
  background-color: var(--a1-d) !important;
  border: 1px solid var(--a1-l) !important;
}

.btn_secondary {
  @extend .btn_;
  background-color: var(--a3-d) !important;
  ;
  border: 1px solid var(--a3-l) !important;
}

.btn-group {
  .group.dropdown {
    background-color: var(--a3-l);
  }
}

.navbar-brand {
  padding: 0 20px;
  border-radius: 100px;
  background-color: white;
}

.modal {
  .modal-content {
    background-color: var(--a3-d);
    color: white;
    border-radius: 15px;
  }

  .close {
    background: var(--a3-l);
    border: 0;
    border-radius: 100px;
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.page-wrapper {
  padding: 0;
}

input[type="text"],
input[type="password"],
textarea,
input[type="range"] {
  border: 0;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 4px 10px;
  font-size: 16px;
}

.auth_form {
  display: flex;
  align-items: center;
  justify-content: center;

  height: calc(100vh - 70px);
  text-align: center;

  .social_sign_in {
    button {
      //padding: 5px;
      border: 1px solid black;
      border-radius: 100px;
      background: rgba(255, 255, 255, 0.6);
    }
  }

  .auth_box {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 80px;
    background: var(--a3-d);
    color: white;

    .btn_primary {
      margin: 10px auto;
    }

    .redirectToLogin {
      margin-top: 40px;
    }

    p {
      font-size: 13px;
    }
  }
}

.logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--a2-d);
}

.quiz-round {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 120px);

  .question {
    text-align: center;
    font-size: 22px;

  }

  .options {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;


    .quiz-option {
      position: relative;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      padding: 8px;

      .quiz-option-in {
        border-radius: 100px;
        background-color: var(--a2);
        color: black;
        display: block;
        padding: 8px;
        width: 100%;
        text-align: center;
      }



      &.selected {
        .quiz-option-in {
          background-color: var(--a3);
        }
      }

      &.right {
        .quiz-option-in {
          background-color: var(--a1);
        }
      }

    }
  }
}


.game_details_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .game_details {
    display: flex;
    align-items: center;

  }

  .detail_block {
    margin-left: 20px;
  }
}
