:root {
  --a1: #2bcc46;
  --a2: #ad8976;
  --a3: #cf4848;
}



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.quiz-round {
  padding: 40px;

  .question {
    text-align: center;
    font-size: 22px;

  }

  .options {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;


    .quiz-option {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      padding: 8px;

      .quiz-option-in {
        border-radius: 100px;
        background-color: var(--a2);
        color: black;
        display: block;
        padding: 8px;
        width: 100%;
        text-align: center;
      }



      &.selected {
        .quiz-option-in {
          background-color: var(--a3);
        }
      }

      &.right {
        .quiz-option-in {
          background-color: var(--a1);
        }
      }

    }
  }
}
