<div class="auth_form">
  <div class="auth_box">
    <h3>Sign In</h3>
    <div class="formGroup">
      <input type="text" class="formControl" placeholder="Email Address" #userEmail required>
    </div>

    <div class="formGroup">
      <input type="password" class="formControl" placeholder="Password" #userPassword required>
    </div>

    <div class="formGroup">
      <input type="button" class="btn btn_primary" value="Sign In"
        (click)="authService.signIn(userEmail.value, userPassword.value)">
    </div>

    <div class="redirectToLogin">
      <p>Don't have an account?<a class="redirect btn btn-sm btn_secondary" routerLink="/auth/signup"> Sign Up</a></p>
    </div>
  </div>
</div>
