<div class="auth_form">
  <div class="auth_box">
    <h3>Sign In</h3>
    <div class="formGroup">
      <input type="text" class="formControl" placeholder="Email Address" #userEmail required>
    </div>

    <div class="formGroup">
      <input type="password" class="formControl" placeholder="Password" #userPassword required>
    </div>

    <div class="formGroup">
      <input type="button" class="btn btn_primary" value="Sign In"
        (click)="authService.signIn(userEmail.value, userPassword.value)">
    </div>


    <div class="social_sign_in">
      <button title="Signin with Google" type="button" (click)="authService.GoogleAuth()"><i class="fa fa-google"
          aria-hidden="true"></i></button>
    </div>
    <!-- <button type="button" (click)="authService.FacebookAuth()">Facebook</button>
    <button type="button" (click)="authService.GithubAuth()">Github</button> -->

    <div class="redirectToLogin">
      <p>Don't have an account?<a class="redirect btn btn-sm btn_secondary" routerLink="/auth/signup"> Sign Up</a></p>
    </div>
  </div>
</div>
